.main {
    width: 100vw;
    height: 100vh;
    background-color: wheat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section {
    width: 94vw;
    height: 94vh;
    box-shadow: 0 0 10px #444;
    background-color: linen;
    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aside{
    height: 100%;
    width: 30%;
    padding: 10px;
    background-color: beige;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 1rem;
    
}

.chatBox{
    height: 100%;
    width: 70%;
    padding: 10px;
}